.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    padding-bottom: 100px;
}

.contentContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
}

.filters {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 23%;
    gap: 24px;
    z-index: 10;
    background-color: #ffffff;
}

.filtersTitle {
    text-align: left;
    font: normal normal 500 16px/56px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    text-transform: uppercase;
    opacity: 1;
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    height: 42px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 80%;
    margin-left: calc(23% + 30px);
    min-height: 100vh;
}

/* Controls */
.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebarControls {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border: 3px solid #F2F2F2;
    background-color: #F2F2F2;
    cursor: pointer;
}

.sidebarControlsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border-radius: 30px;
    z-index: 2;
}

.light>* {
    width: 24px;
    height: 24px;
}

.dark>* {
    width: 24px;
    height: 24px;
}

.light * {
    stroke: #fff;
}

.dark * {
    stroke: black;
}

.sidebarControlsSlide {
    display: flex;
    top: 0;
    height: 100%;
    width: 50%;
    border-radius: 30px;
    position: absolute;
    background-color: #7F3FFC;
    z-index: 1;
}

.filterControls {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.filterControlsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    text-align: left;
    font: normal normal 500 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.filterControlsItem.active {
    background-color: #7F3FFC;
    padding: 12px 24px;
    color: white;
}

.casinos {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobileFilters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loader {
    display: flex;
    justify-content: center;
}

/* Slider */

.mainSlider {
    width: 100%;
}

.sliderBlock {
    width: 80% !important;
}

.sliderBlock>div {
    height: 500px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.sliderPicture {
    width: 100%;
}

.casino {
    position: relative;
    width: 100%;
    height: 100%;
}

.casinoBg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 410px;
    background-color: #4B4453;
    border-radius: 16px;
    overflow: hidden;
}

.casinoBg::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(18, 17, 17, 0.6) 0%, rgba(18, 17, 17, 0.3) 50%, rgba(18, 17, 17, 0) 100%);
}

.characters {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.casinoInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 130px 40px;
    height: 410px;
    max-width: 50%;
}

.bonusInfo {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.bonusText {
    text-align: left;
    font: normal normal bold 34px/44px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
}

.feature {
    text-align: left;
    font: normal normal medium 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2CC;
    opacity: 1;
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
}

.feature:before {
    content: url(/images/icons/circle-check-white.svg);
    height: 18px;
    width: 18px;
}

.casinoButtons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.casinoButtons a {
    padding: 15px 40px;
    text-align: left;
    font: normal normal 500 15px/16px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
    border-radius: 24px;
}

.bonusButton {
    background-color: #7F3FFC;
}

.detailsButton {
    border: 1px solid #F2F2F266;
    background-color: transparent;
}

@media screen and (max-width: 1440px) {
    .sliderBlock {
        width: 90% !important;
    }

    .sliderBlock>div {
        height: 480px;
    }

    .categoryBlocks {
        padding: 50px 5% 100px 5%;
    }

    .promoBlocks {
        width: 90%;
    }

    .sitesGallery {
        width: 90%;
    }

    .sitesLine {
        padding-left: 5%;
        padding-right: 5%;
    }

    .slotBlock {
        width: 90% !important;
    }

    .slotBlock>div {
        height: 480px;
    }

    .headerBlockWrap {
        margin-left: 5%;
    }

    .faqQuestions {
        width: 70%;
        margin-left: 5%;
    }

    .countries {
        padding-left: 5%;
        padding-right: 5%;
    }

    .country {
        width: 300px;
    }

    .optimoText {
        width: 90%;
    }

    .aboutSite {
        width: 90%;
    }

    .casinoInfo {
        padding-left: 40px;
    }

    .characters {
        width: 60%;
    }

    .gamblingPicture {
        width: 32%;
    }

    .rulesList {
        width: 44%;
    }
}

@media screen and (max-width: 1366px) {
    .sliderBlock {
        width: 92% !important;
    }

    .categoryBlocks {
        padding: 50px 4% 100px 4%;
    }

    .promoBlocks {
        width: 92%;
    }

    .sitesGallery {
        width: 92%;
    }

    .sitesLine {
        padding-left: 4%;
        padding-right: 4%;
    }

    .slotBlock {
        width: 92% !important;
    }

    .headerBlockWrap {
        margin-left: 4%;
    }

    .faqQuestions {
        width: 80%;
        margin-left: 4%;
    }

    .countries {
        padding-left: 4%;
        padding-right: 4%;
    }

    .country {
        width: calc(33% - 17px);
    }

    .optimoText {
        width: 92%;
    }

    .aboutSite {
        width: 92%;
    }

    .gamblingPicture {
        bottom: -60px;
    }

    .countriesContent {
        width: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .sliderBlock>div {
        height: 440px;
    }

    .faqPicture {
        display: none;
    }

    .faqQuestions {
        width: 92%;
        margin-right: 4%;
    }
}

@media screen and (max-width: 1024px) {
    .sliderBlock>div {
        height: 350px;
    }

    .casinoInfo {
        height: 350px;
    }

    .casinoBg {
        height: 350px;
    }

    .characters {
        height: 90%;
        width: 50%;
    }

    .casinoInfo {
        max-width: 50%;
        padding: 40px;
    }

    .promoBlocksContent {
        flex-wrap: wrap;
        gap: 100px;
    }

    .promoBlocksContent>* {
        flex: initial !important;
        width: 100%;
    }

    .promoInSites {
        width: 100%;
    }

    .rulesList {
        width: 92%;
    }

    .gamblingPicture {
        display: none;
    }

    .faqBlock,
    .countries {
        margin-top: 100px;
    }

    .categoryBlocks {
        overflow-x: auto;
    }

    .categoryBlocks::-webkit-scrollbar {
        display: none;
    }

    .categoryBlocks {
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .sliderBlock>div {
        height: 570px;
    }

    .casinoBg {
        height: 570px;
    }

    .characters {
        height: 50%;
        width: 94%;
        right: 3%;
    }

    .characters img {
        object-position: center bottom !important;
    }

    .casinoInfo {
        padding: 40px;
        width: 100%;
        max-width: 100%;
        height: 50%;
        top: 0;
    }

    .sliderBlock {
        width: 90% !important;
    }

    .categoryBlocks {
        padding: 50px 5% 100px 5%;
    }

    .promoBlocks {
        width: 90%;
    }

    .sitesGallery {
        width: 90%;
    }

    .sitesLine {
        padding-left: 5%;
        padding-right: 5%;
    }

    .slotBlock {
        width: 90% !important;
    }

    .headerBlockWrap {
        margin-left: 5%;
    }

    .faqQuestions {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .countries {
        padding-left: 5%;
        padding-right: 5%;
    }

    .country {
        width: calc(33% - 17px);
    }

    .optimoText {
        width: 90%;
    }

    .aboutSite {
        width: 90%;
    }

    .rulesList {
        width: 90%;
    }

    .country {
        width: calc(50% - 16px);
    }

    .categoryBlocks>* {
        min-width: 240px;
    }

    .categoryBlocks {
        gap: 16px;
    }

    .casinoBg::after {
        background: linear-gradient(180deg, rgba(18, 17, 17, 0.6) 0%, rgba(18, 17, 17, 0.3) 50%, rgba(18, 17, 17, 0) 100%);
    }

    .filters {
        position: fixed;
        display: flex;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        top: 0;
        gap: 0;
        overflow: scroll;
    }

    .mobileFilterButton {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 16px;
        z-index: 10000;
        padding: 16px 70px;
        background-color: #7F3FFC;
        border-radius: 100px;
        text-align: left;
        font: normal normal 500 16px/56px Samsung Sans;
        letter-spacing: 0px;
        color: #F2F2F2;
        text-transform: uppercase;
        opacity: 1;
        left: calc(50% - 113px);
        cursor: pointer;
        min-width: 220px;
        height: 68px;
    }

    .mobileFilterHeader {
        padding: 16px 32px;
        text-align: left;
        font: normal normal 500 16px/56px Samsung Sans;
        letter-spacing: 0px;
        color: #4B4453;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .filters .filtersTitle {
        display: none;
    }

    .controls {
        display: none;
    }

    .contentContainer {
        margin: 0;
        width: 100%;
        flex-direction: column;
    }

    .content {
        margin: 0 !important;
        width: 100% !important;
        padding: 0 16px;
    }

    .sliderBlock {
        width: 90% !important;
    }

    .casinoInfo {
        gap: 25px;
    }
}

@media screen and (max-width: 480px) {
    .sliderBlock>div {
        height: 520px;
    }

    .casinoBg {
        height: 520px;
    }

    .casinoInfo {
        padding: 32px 20px;
        height: 60%;
    }

    .characters {
        height: 40%;
    }

    .casinoButtons {
        flex-direction: column;
        gap: 16px;
    }

    .casinoButtons>a {
        text-align: center;
    }

    .categoryBlocks>* {
        min-width: 200px;
    }

    .categoryBlocks {
        padding-bottom: 50px;
    }

    .promoBlocksContent,
    .sitesGallery {
        gap: 12px;
    }

    .promoBlocks {
        margin-bottom: 12px;
    }

    .sitesLine,
    .aboutSite {
        margin-bottom: 50px;
    }

    .gamblingRules,
    .faqBlock,
    .countries,
    .optimoText,
    .aboutSite {
        margin-top: 50px;
    }

    .country {
        width: 100%;
    }

    .countriesContent {
        gap: 12px;
    }
}

/* Slider end */

@media screen and (max-width: 768px) {

    .controls {
        display: none;
    }

    .contentContainer {
        margin: 0;
        width: 100%;
        flex-direction: column;
    }

    .content {
        margin: 0 !important;
        width: 100% !important;
        padding: 0 16px;
    }

    .sliderBlock {
        width: 90% !important;
    }

    .casinoInfo {
        gap: 25px;
    }
}

.mobileFilters>div:not(:first-child) {
    min-width: 224px;
}

.mobileFilters>div:not(:first-child)>div {
    justify-content: flex-end;
    align-items: initial;
}

.mobileFilters>div:not(:first-child)>div>div {
    margin-left: initial;
}