/* Casino */

.casino {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #4B445333;
}

.exclusive {
    border: 2px solid #7F3FFC;
    overflow: hidden;
}

.exclusive:after {
    content: 'EXCLUSIVE FOR OPTIMOBET VISITORS';
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 40px;
    background-color: #7F3FFC;
    border-radius: 0 0 0 16px;
    text-align: left;
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.exclusive .casinoColumn.right {
    padding-top: 40px;
}

.promocode {
    position: relative;
    padding: 20px 26px 6px;
    border: 1px solid #4B445333;
    border-radius: 24px;
    text-align: left;
    font: normal normal 500 18px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    height: 48px;
}

.promocode::after {
    content: 'Use promo code';
    position: absolute;
    left: 26px;
    top: 0;
    text-align: left;
    font: normal normal normal 12px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #1A1C21;
    opacity: 0.5;
}

.copyButton {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #4B445333;
    height: 100%;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    cursor: pointer;
}

.imageContainer {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.casinoImage {
    position: relative;
    width: 20%;
    /* background-color: #ccc; */
    border-radius: 16px 0px 0px 16px;
    overflow: hidden;
}

.casinoInfo {
    display: flex;
    flex-direction: row;
    padding: 32px;
    width: 100%;
    justify-content: space-between;
}

.casinoColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 27px;
}

.subtitle {
    text-align: left;
    font: normal normal normal 13px/24px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
}

.casinoColumn.right {
    align-items: flex-end;
}

.casinoName {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.casinoNameText {
    font: normal normal bold 24px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}

.casinoRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.casinoTags {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.casinoTag {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    font: normal normal normal 15px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}

.casinoGames {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.casinoGame {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font: normal normal 500 15px/24px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    opacity: 1;
    height: 36px;
    width: 36px;
    background-color: #f2f2f2;
    border-radius: 100px;
    overflow: hidden;
}

.casinoLanguages {
    display: flex;
    flex-direction: row;
    gap: 41px;
}

.languageContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 105px;
}

.languageTitle {
    text-align: left;
    font: normal normal 500 15px/24px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}

.languageContent {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.language {
    /* background-color: #ccc; */
    min-width: 27px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font: normal normal normal 12px/15px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    opacity: 1;
}

.grayNums {
    background: #F2F2F2;
    border-radius: 4px;
    padding: 0px 4px;
}

.casinoButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.casinoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 45px;
    border-radius: 24px;
    text-align: left;
    font: normal normal 500 15px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #4B445380;
    cursor: pointer;
}

.casinoButton.highlighted {
    background-color: #7F3FFC;
    color: white;
}

.tcButton {
    font: normal normal 500 15px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #4B445380;
    position: relative;
    cursor: pointer;
}

.titleText {
    font: normal normal 500 16px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .casinoImage {
        width: 35%;
    }

    .casinoInfo {
        width: 65%;
        flex-direction: column;
        gap: 25px;
    }

    .casinoColumn.right {
        align-items: flex-start;
    }
}

@media screen and (max-width: 480px) {
    .casino {
        flex-direction: column;
    }

    .exclusive::after {
        content: 'EXCLUSIVE';
        border-bottom: 2px solid #F2F2F2;
        border-left: 2px solid #F2F2F2;
        padding: 6px 12px;
    }

    .casinoImage {
        height: 80px;
        width: 100%;
        background-color: #7F3FFC;
        border-bottom-left-radius: 0;
        border-top-right-radius: 16px;
    }

    .casinoInfo {
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .casinoColumn {
        width: 100%;
    }

    .casinoLanguages {
        width: 100%;
    }

    .casinoButtons {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .casinoGames {
        flex-shrink: 0;
    }

    .casinoName {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .titleText {
        width: 100%;
    }
}