.container {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px 10%;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 9999;
    border-bottom: 1px solid transparent;
    transition: .2s;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
}

.logo {
    margin-right: 60px;
    display: flex;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 96px;
    width: 40%;
}

.link {
    min-width: fit-content;
    position: relative;
    text-align: left;
    font: normal normal 500 15px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    cursor: pointer;
}

.link:hover {
    color: #7F3FFC;
}

.link.active {
    color: #7F3FFC;
}

.link.active::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px;
    width: 16px;
    border-radius: 100px;
    background-color: #7F3FFC;
}

.login {
    min-width: fit-content;
    padding: 15px 32px;
    border-radius: 24px;
    background-color: #7F3FFC;
    color: #F2F2F2;
    align-items: center;
    justify-content: center;
    text-align: left;
    font: normal normal 500 15px/18px Samsung Sans;
    letter-spacing: 0px;
}

.bordered {
    border-bottom: 1px solid #4B445333;
}

/* User Menu */

.user {
    position: relative;
}

.userAvatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #7F3FFC;
    text-align: left;
    font: normal normal 500 15px/24px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    opacity: 1;
    cursor: pointer;
}

.userMenu {
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: absolute;
    min-width: 360px;
    border: 1px solid #4B445333;
    border-top: none;
    border-radius: 0 0 16px 16px;
    right: 0;
    top: calc(100% + 16px);
    padding: 24px;
    background-color: #FFFFFF;
}

.userName {
    text-align: left;
    font: normal normal 500 22px/35px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    opacity: 1;
}

.userMenuItem {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font: normal normal 500 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    opacity: 1;
    cursor: pointer;
}

.userMenuItem div {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
}

.divider {
    height: 1px;
    background-color: #4B44531A;
    opacity: 1;
}

.userMenuCounter {
    padding: 8px 16px;
    background-color: #F2F2F2;
    border-radius: 24px;
    text-align: right;
    font: normal normal normal 12px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #1A1C21;
    opacity: 1;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(0.5);
    z-index: 999;
}

.modalBody {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 50%;
    min-width: 1000px;
    max-width: 50%;
    border-radius: 16px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #4B4453;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 16px;
    z-index: 999999;
}

.modalImage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    background-color: #ccc;
    border-radius: 16px 0 0 16px;
    overflow: hidden;
}

.modalImageOverlay {
    position: absolute;
}

.modalForm {
    padding: 44px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 99999;
    width: 65%;
}

.modalFormTitle {
    text-align: left;
    font: normal normal bold 34px/44px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    opacity: 1;
}

.modalFormSubtitle {
    text-align: left;
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    opacity: 1;
}

.modalFormRow {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.modalForm input[type="text"],
.modalForm input[type="password"],
.modalForm input[type="date"] {
    padding: 8px 24px;
    border: 1px solid #1A1C2133;
    border-radius: 24px;
    height: 48px;
    outline: none;
    width: 100%;
}

.modalForm input[type="submit"] {
    display: flex;
    padding: 15px 32px;
    width: fit-content;
    border: none;
    outline: none;
    border-radius: 24px;
    background-color: #7F3FFC;
    text-align: right;
    font: normal normal 500 15px/24px Samsung Sans;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
    align-self: flex-end;
}

.passwordDescription {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.passwordTitle {
    font: normal normal 500 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}

.checkOption {
    font: normal normal normal 15px/17px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    gap: 12px;
    display: flex;
    align-items: center;
}

.checkOption::before {
    content: "";
    border: 1px solid #4B445333;
    border-radius: 100px;
    width: 18px;
    height: 18px;
}

.checkOption.active {
    color: #00C69C;
}

.checkOption.active::before {
    background-image: url(/images/icons/circle-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #00C69C;
    width: 16px;
    height: 16px;
}

.checkText {
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
}

.btnsRight {
    display: flex;
    align-items: center;
}

.burgerMenuButton {
    cursor: pointer;
    display: flex;
}

.burgerMenu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: white;
    margin-top: 63px;
    height: calc(100vh - 63px);
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.menuHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 999999;
}

.menuDefault{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
}

.menuNavigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

.mobileLanguage>div {
    margin: 0;
}

/* Menu mobile with categories */

.backHeader{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #fff;
}

.pagesNav{
    display: flex;
    border-bottom: 1px solid #4B44531A;
    border-top: 1px solid #4B44531A;
}

.pageIcon{
    display: flex;
    padding: 0px 18px;
    margin: 12px 0px;
}

.pageIcon:not(:last-child){
    border-right: 1px solid #4B44531A;
}

.pageIcon div{
    width: 24px;
    height: 24px;
}

.pageIcon svg *{
    transition: all 0.3s ease-in-out;
}

.activePage path{
    fill: #7F3FFC;
}

.activePageFix3 path{
    fill: none;
}

.activePageFix3 svg *{
    stroke: #7F3FFC;
}

.activePageFix4 path{
    fill: none;
}

.activePageFix4 svg path:not(:first-child){
    fill: #7F3FFC;
}
/* Menu to expand */

.hideMenuBtn {
    display: flex;
    align-items: center;
    gap: 4px;
    font: normal normal 500 18px/20px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
    text-transform: uppercase;
    cursor: pointer;
}

.expandedMenu {
    display: flex;
    overflow: hidden;
    top: 85px;
    left: 0;
    position: absolute;
    background: #FFFFFF;
    width: 100%;
}

.expandedMenuNav {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 4% 30px 4%;
}

@media screen and (max-width: 480px) {
    .expandedMenu {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* end of Menu to expand */

/* Dynamic menu Styling */

.navItem {
    display: flex;
    flex-direction: column;
}

.dropdown {
    position: absolute;
    width: max-content;
    top: 270%;
    left: -80px;
    z-index: 99999;
    display: flex;
    flex-direction: row;
    gap: 111px;
    padding: 22px 40px;
    padding-top: 0;
    background-color: #FFFFFF;
    border: 1px solid #4B44531A;
    border-top: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.dropdownList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dropdownTitle {
    font: normal normal 500 18px/20px Samsung Sans;
    letter-spacing: 0px;
    color: #4B445380;
}

.dropdownListChildren {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font: normal normal 500 14px/20px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453;
}

/* Dynamic Menu Styling end */

@media screen and (max-width: 1440px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .logo {
        margin-right: 24px;
    }
}

@media screen and (max-width: 1366px) {
    .container {
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0;
    }

    .menuHeader{
        padding: 10px 16px;        
    }

    .link {
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .link path[fill]:not([fill="none"]) {
        fill: rgba(75, 68, 83, 0.5);
    }

    .link path[fill="none"] {
        stroke: rgba(75, 68, 83, 0.5);
    }

    .mobiLink.active path[fill]:not([fill="none"]) {
        fill: #7F3FFC;
    }

    .mobiLink.active path[fill="none"],
    .mobiLink.active circle,
    .mobiLink.active rect,
    .mobiLink.active line {
        stroke: #7F3FFC;
    }

    .mobiLink.active::after {
        left: 34px;
    }

    .userMenu {
        padding: 16px;
        width: 100%;
        right: 0;
        top: 100%;
        height: 100vh;
    }

    .user {
        position: unset;
    }

    .user .userAvatar {
        border: none;
    }

    .userInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .userInfo .userAvatar {
        border: 4px solid #7F3FFC;
        height: 100px;
        width: 100px;
        font-size: 22px;
        font-family: Samsung Sans;
    }

    .modalBody {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-width: 100vw;
        border-radius: 0;
    }

    .modalImage {
        width: 100%;
        height: 190px;
        border-radius: 0;
    }

    .modalForm {
        width: 100%;
        padding: 16px;
    }

    .modalForm input[type="submit"] {
        width: 100%;
        justify-content: center;
    }

    .close {
        border: none;
        padding: 0;
        position: relative;
    }

    .modalHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 16px;
        align-items: center;
    }

}