html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    flex: 1;
}

@font-face {
    font-family: 'Samsung Sans';
    src: url(/fonts/SamsungSans-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Samsung Sans';
    src: url(/fonts/SamsungSans-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Samsung Sans';
    src: url(/fonts/SamsungSans-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Samsung Sans';
    src: url(/fonts/SamsungSans-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Samsung Sans';
    src: url(/fonts/SamsungSans-Thin.ttf) format('truetype');
    font-weight: 100;
}